@import '~@assets/styles/breakpoints';

.Root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .Main {
    flex-grow: 1;
  }

  .Wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 16px  16px 60px 16px;

    @include breakpoints(tablet) {
      padding: 16px 32px 80px 32px;
    }

    @include breakpoints(laptop) {
      padding: 24px 28px 100px 28px;
    }

    @include breakpoints(desktop) {
      padding: 24px 0 100px 0;
    }
  }
}
