@import './src/assets/styles/colors';

.Root {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Input, .Title {
  width: 100%;
  height: 100%;
}

.Input {
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
  color: get-color('gray', 600);
}

.Title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: get-color('gray', 700);
}

.Actions {
  margin: 0 0 0 20px;
  display: flex;
  align-items: center;
}

.OkButton, .CancelButton {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  cursor: pointer;

  i {
    font-size: 12px;
  }

  &:not(:first-child) {
    margin: 0 0 0 10px;
  }
}
